<div class="row">
  <form class="col s12"  (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <div class="input-field col s6 offset-s3">

        <input id="icon_prefix"  placeholder="Votre pseudo" type="text" class="validate" name="pseudo" ngModel>
        <input id="icon_prefix1" placeholder="Mot de passe" type="text" class="validate" name="password" ngModel>

      </div>
      <div class="col s6 offset-s3">
        <button type="submit"  class="btn  green mtbtn">Valider</button>

      </div>
    </div>
  </form>
</div>
